{% extends 'base.html' %}
{% block title %}My Posts {% endblock %}

{% block content %}
<h3>Find your posts by keyword</h3>
<form action="{{url_for('search')}}" method="POST" class="search-form" >
    <input type="text" name="keyword" placeholder="Enter keyword and search"  class="search-input">
    <button type="submit">Search</button>
</form>
<br>

<h3>Create new post</h3>
<form action="{{ url_for('create_post') }}" method="POST" class="create-post-form">
    <input type="text" name="title" placeholder="Enter title"> <br> <br>
    <textarea name="content" placeholder="Enter text" rows="5" cols="30"></textarea> <br>
    <button type="submit">Publish</button>
</form>
<br>
{% if keyword %}
    <h3 class="search-results">Look what we found: <strong>{{keyword}}</strong></h3>

{% endif %}
<h2>Posts list</h2>
<ul class="posts-list">
    {% for post in posts %}
    <li class="post-item">
        <h5>{{ post.title }}</h5>
        <p>{{ post.content }}</p>
        <div style="display: inline;">
            <form action="{{ url_for('update_post', post_id=post.id) }}" method="get" style="display: inline;">
                <button type="submit">Edit</button>
            </form>
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
        </div>
    </li>
    <br>
    {% endfor %}
</ul>
{% endblock %}